<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver</title>
</head>
<body>
    <h2>Welcome to the Driver Side!</h2>
    <button id="start">Start sharing</button>
    <button id="stop" disabled>Stop Sharing</button>
    <script src="/socket.io/socket.io.js"></script>
    <script src="driver.js">
    </script>
</body>
</html>