<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marko+One&display=swap" rel="stylesheet">
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .content{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
            font-family: 'Marko One', sans-serif;
            width: 100%;
            height: 100vh;
            background-color: rgb(201, 231, 119);
        }
        .main{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 180px;
        }
        .btns{
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="content">
    <div class="main">
    <h2>Welcome to the Driver Side <%= drivername %>!</h2>
    <div class="btns">
    <button id="start" style="font-family: 'Marko One',serif;">Start sharing</button>
    <button id="stop" disabled style="font-family: 'Marko One',serif;">Stop Sharing</button>
    </div>
    <img src="/images/busd.jpg" alt="" style="margin-top: 20px;">
    </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="driver.js">
    </script>
</body>
</html>